
<ul id="slide-out" class="side-nav">
    <h5 align="center">Angular2-Materialize</h5>
    <div class="collection">
         <h5 class="collection-item active blue-grey center">Install </h5>

             <a class="collection-item">How to Install</a>

         <h5 class="collection-item active blue-grey center">Components</h5>
             <a class="collection-item">Parallax</a>
             <a class="collection-item">Sidenav</a>
             <a class="collection-item">Tabs</a>
            <a class="collection-item">DropDowns</a>
            <a class="collection-item">Modals</a>
            <a class="collection-item">Parallax</a>
            <a class="collection-item">Parallax</a>
      </div>
</ul>


<nav>
  <div class="nav-wrapper blue-grey">
    <a class="brand-logo">
      <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
       <span [routerLink]="['/']">Angular-Materialize</span>
    </a>
    <ul id="" class="right">
      <li><a *ngIf="isLoggedIn" class="btn" (click)="logout()">Logout</a></li>
      <!-- <li><a class="waves-effect waves-light btn" *ngIf="!isLoggedIn" [routerLink]="['/auth/login']" >User Area  </a></li> -->
      <!-- <li><a *ngIf="!isLoggedIn" [routerLink]="['/auth/signup']" class="active">Register</a></li> -->
      <!-- <li><a *ngIf="!isLoggedIn" [routerLink]="['/auth/login']">Login</a></li> -->

    </ul>
  </div>
</nav>

<div class="row">
<!-- <div class="col s12 m4 l3 left blue-grey z-depth-2"> -->
    <!-- <div class="collection">
       <a  class="collection-item blue-grey white-text active">Install </a>
       <a  class="collection-item blue-grey white-text">Parallax</a>
       <a  class="collection-item blue-grey white-text">Toast</a>
       <a  class="collection-item blue-grey white-text">Sliders</a>
    </div>
 -->
<!-- </div> -->
  <!-- <div class="col s12 m10 l9 center"> -->
  <br>



  <!-- FUNCIONA ! -->
     <!-- <p *ngIf="name">{{ user?.auth.name }}</p>
     <h5>{{ user?.auth.uid }}</h5>
     <h5>{{ user?.auth.email }}</h5>
     <h5>{{ user?.auth.displayName }}</h5>
     <img src="{{ user?.auth.photoUrl }}" alt="">
      <img src="{{ user?.auth.photoURL }}" alt="" class="circle">

       -->

    <div class="row">
       <div class="col s12 m6 offset-l1 l10">
          <h3 align="center" class="blue-grey-text text-darken-2">List of Users | {{ users.length }} </h3>
          <h3 align="center" class="blue-grey-text text-darken-2"> Sem utilidade pratica so adm </h3>
          <h3 align="center" class="blue-text text-darken-2"> pelo user.auth.uid {{ user.auth.uid }} </h3>
          <h3 align="center" class="bluetext text-darken-2"> pelo af.auth  {{ (af.auth | async )?.uid }}  </h3>

        <table class="bordered striped responsive-table">
               <thead>
                 <tr>
                     <th data-field="key">$key</th>
                     <th data-field="email">email</th>
                     <th data-field="password">password</th>
                     <th data-field="delete">Delete</th>
                     <th data-field="owner">Posted By</th>

                 </tr>
               </thead>

               <tbody>

                 <tr *ngFor="let user of users | async">
                   <td>{{ user.$key }} </td>
                   <td>{{ user.email }} </td>
                   <td>{{ user.password }} </td>
                   <!-- <td><a class="btn" (click)="deleteUser(user)">Delete</a></td> -->
                   <td>
                     <a class="btn" (click)="deleteUser(user)" onclick="Materialize.toast('Removed with Success', 4000)">Delete</a>
                   </td>
                   <td><p>{{ user.uid }}</p></td>
                   <!-- ATUAL UID <td><p>{{ (af.auth | async )?.uid }}</p></td> -->
              </tbody>
        </table>
      </div>
    </div>


        <div class="row">
         <div class="col s12 m6 offset-l1 l10 card blue-grey">
             <div class="card-content white-text">
          <h3 align="center" >New User</h3>
          <div align="center">
            <span class="error" *ngIf="error">{{ error }}</span>
          </div>


          <!-- FORMULARIO NORMAL E FUNCIONANDO -->
        <form #formUser='ngForm'>
              <div class="input-field col s12">
                <input type="email" class="validate" name="email" [(ngModel)]="email" required>
                <label for="email" align="left">Email</label>
              </div>
              <div class="input-field col s12">
                <input id="Password" type="password" class="validate" name="password" [(ngModel)]="password" required>
                <label for="Password"  align="left">Password</label>
              </div>
                <div class="input-field col s12">
                <input id="profile.username" type="text" class="validate" name="profile" [(ngModel)]="profile" required>
                <label for="profile.username"  align="left">Username</label>
              </div>
              <div class="input-field col s12">
                <a type="submit" class="waves-effect waves-light btn col s12 m12 l12" (click)="onSubmit(formUser)" >Save User <i class="material-icons">send</i></a>
              <br>
              <br>
              <br>
            </div>
       </form>


        <!-- FORMULARIO REACTIVE - NAO CONSEGUI FAZER  -->
        <!-- <form [formGroup]="registerUser">
               <div class="input-field col s12">
                <input formControlName="firstName" required>
                <label for="firstName" align="left">firstName</label>
              </div>
              <div class="input-field col s12">
                <input formControlName="lastName" required>
                <label for="lastName" align="left">Last Name</label>
              </div>
                <div class="input-field col s12">
                  <fieldset formGroupName="address">
                    <input formControlName="street" />
                    <input formControlName="city" />
                  </fieldset>
              </div>
              <div class="input-field col s12">
                <a type="submit" class="waves-effect waves-light btn col s12 m12 l12" (click)="onSubmit(formUser)" >Save User <i class="material-icons">send</i></a>
              <br>
              <br>
              <br>
            </div>
       </form>  -->




       <br>
       <br>
     </div>
   </div>
 </div>
<!-- FIM FORM -->

















        <!-- BONITO  -->
      <!-- <div class="row">
       <div class="col s12 m6 offset-l1 l10">
         <div class="card blue-grey darken-1">
           <div class="card-content white-text">
             <span class="card-title">New User</span>
             <form [formGroup]="formUser">
               <div formGroupName="user">
               <input type="text" name="username"  formControlName="username" placeholder="Username" (ngModel)="username">
               <br>
               <input type="text" name="email" formControlName="email" placeholder="Email" (ngModel)="email">
               <br>
               <input type="text" formControlName="password" placeholder="Password" (ngModel)="password">
               <br>
             </div>
               <a class="right"  (click)="onSubmit(formUser)" >Save User</a>
               <br>
             </form>
         </div>
       </div>
     </div>
   </div> -->


   <!--
         <div class="card blue-grey darken-1">
           <ul>
                <li *ngFor="let item of items | async">
                 <input type="text" #updatetext [value]="item.text" />
                 <button (click)="updateItem(item.$key, updatetext.value)">Update</button>
                 <button (click)="deleteItem(item.$key)">Delete</button>
               </li>
             </ul>
             <input type="text" #newitem />
             <button (click)="addItem(newitem.value)">Add</button>
             <button (click)="deleteEverything()">Delete All</button>
          </div>

-->



<!-- fim col m10 l9 -->
   <!-- </div> -->



</div>
