



 <ul id="slide-out" class="side-nav">
     <h5 align="center">Angular2-Materialize</h5>
     <div class="collection">
          <h5 class="collection-item active blue-grey center">Install </h5>

              <a class="collection-item">How to Install</a>

          <h5 class="collection-item active blue-grey center">Components</h5>
              <a class="collection-item">Parallax</a>
              <a class="collection-item">Sidenav</a>
              <a class="collection-item">Tabs</a>
             <a class="collection-item">DropDowns</a>
             <a class="collection-item">Modals</a>
             <a class="collection-item">Parallax</a>
             <a class="collection-item">Parallax</a>
       </div>
 </ul>

  <!-- Dropdown  ACCOUNT  -->
 <ul id='dropdown1' class='dropdown-content'>
   <li><a [routerLink]="['/account']">Account</a></li>
   <li><a>two</a></li>
   <li class="divider"></li>
   <li><a >three</a></li>
 </ul>

 <nav>
   <div class="nav-wrapper blue-grey">
     <a class="brand-logo">
       <a data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
        <span [routerLink]="['/']">Angular-Materialize</span>
     </a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><a [routerLink]="['/users']">Users</a></li>
       <li>logado: {{ isLoggedIn }}</li>
       <li><a class="waves-effect waves-light btn" *ngIf="!isLoggedIn" [routerLink]="['/auth/login']" >User Area  </a></li>
       <!-- <li><a *ngIf="!isLoggedIn" [routerLink]="['/auth/signup']" class="active">Register</a></li> -->
       <!-- <li><a *ngIf="!isLoggedIn" [routerLink]="['/auth/login']">Login</a></li> -->
       <li><a [routerLink]="['/profile']">Profile</a></li>
        <li></li>
        <li class="valign">

 <!-- <a class="dropdown-button" data-activates="dropdown1">
  <img src="{{ user?.auth.photoURL }}" alt="" class="circle " width="35">
    <i class="material-icons right">arrow_drop_down</i>
 </a> -->
        </li>
       <li><a *ngIf="isLoggedIn" class="btn" (click)="logout()">Logout</a></li>
     </ul>
   </div>
 </nav>

   <div class="col s12 m10 l9 center">
     <br>

     <p *ngIf="name">{{ user?.name }}</p>

      <!-- TABS -->
      <div class="row">
         <div class="col s12 m6 offset-l6 l6">
           <ul class="tabs ">
             <li class="tab col s3 "><a href="#test1" class="active">Overview</a></li>
             <li class="tab col s3"><a class=" blue-grey-text" href="#test2">Ref</a></li>
             <li class="tab col s3 disabled"><a href="#test3">Examples</a></li>
             <li class="tab col s3"><a href="#test4">ChatUsers</a></li>
           </ul>
         </div>
         <div id="test1" class="col s12 l8">
            <a class="btn center" [routerLink]="['new']">NEW ACCOUNT</a>


             <div class="card white darken-3 blue-grey-text ">
               <div class="card-content ">
                 <div class="row">
                 <h3 class="center"> Account Page</h3>

               </div>
                 <div align="left">
                 <img src="{{ user?.auth.photoURL }}" alt="" class="circle">
                 <br>
                 <div class="divider"></div>
                 <h5>displayName: {{ user?.auth.displayName }}</h5>
                 <div class="divider"></div>
                 <h5 >email:  {{ user?.auth.email }}</h5>
                 <div class="divider"></div>
                 <p>uid:  {{ user?.auth.uid }}</p>
                 <div class="divider"></div>
                 <p>username  {{ account?.profile.username }}</p>
                 <hr>
                 <p>novos</p>
                 <p>{{ user?.auth.email }}</p>
                 <!-- <p>{{ user?.auth.password }}</p>
                 <p>{{ user?.auth.aboutYou }}</p>
                  <p>{{ account?.displayName }}</p> -->

                 <!-- <p>{{ user?.auth.profile.username }}</p>
                  <p>{{ user?.auth.username }}</p>
                 <p>uid:  {{ user?.auth.uid }}</p> -->

<!--

               </div>
               </div>
               <div class="card-action">
                 <a href="#">This is a link</a>
                 <a href="#">This is a link</a>
               </div>
             </div>
 -->

        </div>
         <div id="test2" class="col s12">Test 2</div>
         <div id="test3" class="col s12">Test 3</div>
         <div id="test4" class="col s12">Test 4</div>
       </div>



<!-- ESSE E DA ESQUERDA Q TIREI
    </div> -->
    <!--
    <h5>{{ user?.auth.uid }}</h5>
    <h5>{{ user?.auth.email }}</h5>
    <h5>{{ user?.auth.displayName }}</h5>
    <img src="{{ user?.auth.photoUrl }}" alt="">
     <img src="{{ user?.auth.photoURL }}" alt="" class="circle"> -->

                    <!-- // BOTOES LEGAIS -->
                    <!-- <div class="row">
                     <a class="btn-floating btn-large waves-effect waves-light blue-grey left"><i class="material-icons">arrow_back</i></a>
                     <div align="center">
                     <a class="btn-floating btn-large waves-effect waves-light blue-grey right"><i class="material-icons">arrow_forward</i></a>
                   </div>
                     </div>  -->

              <!-- <h1 class="center-align textNunito">Angular2-Materialize</h1>
              <h5 class="center-align textNunito"> Instructions for use Materialize library with Angular</h5>
              <div class="center">
              </div> -->


    <!--
     <div class="row">
     <div class="col s12 m4 l3 left blue-grey z-depth-2">

         <div class="collection">
            <a  class="collection-item blue-grey white-text active">Install </a>
            <a  class="collection-item blue-grey white-text">Parallax</a>
            <a  class="collection-item blue-grey white-text">Toast</a>
            <a  class="collection-item blue-grey white-text">Sliders</a>
         </div>

     </div> -->

 </div>
